<li class="dropdown">
    <a href="#" class="nav-link" data-toggle="dropdown">Thương Hiệu</a>
    <ul class="dropdown-menu">
        @{
            WatchShop.Models.WatchShopContext db = new WatchShop.Models.WatchShopContext();
            var model = db.Categories;
            foreach (var item in Model)
            {
                <li><a href="@Url.Action("Supplier","Products",new {id = item.Id })">@item.Name</a></li>
            }
        }
    </ul>
</li>