@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="login-box login-item">Đăng Xuất</a></li>
    }
}
else
{
    @Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "login-box login-item" })
}
